body {
    font-family: 'Verdana', sans-serif;
    color: white;
    background: #1e1f22;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameWindow {
    width: 400px;
    height: 500px;
    background-color: #333;
    border: 5px solid #222;
    border-radius: 20px;
    display: grid;
    place-items: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.container {
    display: grid;
    gap: 2px;
    width: 300px;
}

#gridSizeSelect {
    background-color: #333;
    color: white;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

#startButton {
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

#startButton:hover {
    background-color: #666;
    color: white;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #ffcc00;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.cell.active {
    background-color: #666;
}


.cell:hover {
    transform: scale(1.1);
}


#muteButton {
    background-color: transparent;
    border: none;
    padding: 0;
}

#sound-icons {
    width: 40px;
    height: auto;
}

.popup {
    opacity: 0;
    transform: translateY(-50px);
    animation: floatIn 0.5s forwards;
    display: none;
    position: fixed;
    border: 5px solid #222;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.show {
    opacity: 1;
    transform: translateY(0);
}

.popup-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
}

#danceGif{
    width: 150px;
    display: block;
    margin: 0 auto;
}

#scoreboard{
    background-color: #666;
    border: 4px solid #888;
    width: 300px;
    display: block;
    margin: 15% auto;
    padding: 10px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@keyframes floatIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}