body{
    background: rgba(255, 36, 191, 0.23);
    width: fit-content;
    margin: auto;
}

.container {
    display: grid;
    gap: 2px;
    width: fit-content; /* Ensure the container only takes as much space as necessary */

}

.cell {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.cell.active {
    background-color: black;
}

.gameWindow{
    width: 400px;
    height: 400px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 15px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}